Alejandro Alvarez Lopez

Estefania Dussan Puerta

Valentina Gómez Giraldo

In [ ]:
#####paquete básicos ##
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
#### paquetes de sklearn

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [ ]:
#### paquetes de redes neuronales

import tensorflow as tf
from tensorflow import keras

In [ ]:
!pip install keras_tuner

Requirement already satisfied: keras_tuner in /usr/local/lib/python3.10/dist-packages (1.4.6)
Requirement already satisfied: keras in /usr/local/lib/python3.10/dist-packages (from keras_tuner) (2.14.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from keras_tuner) (23.2)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from keras_tuner) (2.31.0)
Requirement already satisfied: kt-legacy in /usr/local/lib/python3.10/dist-packages (from keras_tuner) (1.0.5)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->keras_tuner) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->keras_tuner) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->keras_tuner) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->keras_tuner) (2023.7.22)

In [ ]:
### paquete de afinamiento para nn de tensorflor

import keras_tuner as kt

In [ ]:
#### paquetes de evaluación de modelos de sklearn

from sklearn.metrics import ConfusionMatrixDisplay
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
credit_df = pd.read_csv("/content/drive/MyDrive/COLAB/credit_card_clients (1).csv")
credit_df

,CUST_ID,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
0,C10001,40.900749,0.818182,95.40,0.000000,95.40,0.000000,0.166667,0.000000,0.083333,0.000000,0,2,1000.0,201.802084,139.509787,0.000000,12
1,C10002,3202.467416,0.909091,0.00,0.000000,0.00,6442.945483,0.000000,0.000000,0.000000,0.250000,4,0,7000.0,4103.032597,1072.340217,0.222222,12
2,C10003,2495.148862,1.000000,773.17,232.457717,0.00,0.000000,1.000000,1.000000,0.000000,0.000000,0,12,7500.0,622.066742,627.284787,0.000000,12
3,C10004,1666.670542,0.636364,1499.00,530.293538,0.00,205.788017,0.083333,0.083333,0.000000,0.083333,1,1,7500.0,0.000000,NaN,0.000000,12
4,C10005,817.714335,1.000000,16.00,4.136829,0.00,0.000000,0.083333,0.083333,0.000000,0.000000,0,1,1200.0,678.334763,244.791237,0.000000,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8945,C19186,28.493517,1.000000,291.12,0.000000,291.12,0.000000,1.000000,0.000000,0.833333,0.000000,0,6,1000.0,325.594462,48.886365,0.500000,6
8946,C19187,19.183215,1.000000,300.00,0.000000,300.00,0.000000,1.000000,0.000000,0.833333,0.000000,0,6,1000.0,275.861322,NaN,0.000000,6
8947,C19188,23.398673,0.833333,144.40,0.000000,144.40,0.000000,0.833333,0.000000,0.666667,0.000000,0,5,1000.0,81.270775,82.418369,0.250000,6
8948,C19189,13.457564,0.833333,0.00,0.000000,0.00,36.558778,0.000000,0.000000,0.000000,0.166667,2,0,500.0,52.549959,55.755628,0.250000,6
8949,C19190,372.708075,0.666667,1093.25,444.606394,0.00,127.040008,0.666667,0.666667,0.000000,0.333333,2,23,1200.0,63.165404,88.288956,0.000000,6

In [20]:
#Duplicados
credit_df.shape

(8950, 18)

In [21]:
credit_df.drop_duplicates().shape # Se eliminan los registros duplicados

(8950, 18)

In [25]:
#Nulos
credit_df.isnull().sum()

CUST_ID                             0
BALANCE                             0
BALANCE_FREQUENCY                   0
PURCHASES                           0
ONEOFF_PURCHASES                    0
INSTALLMENTS_PURCHASES              0
CASH_ADVANCE                        0
PURCHASES_FREQUENCY                 0
ONEOFF_PURCHASES_FREQUENCY          0
PURCHASES_INSTALLMENTS_FREQUENCY    0
CASH_ADVANCE_FREQUENCY              0
CASH_ADVANCE_TRX                    0
PURCHASES_TRX                       0
CREDIT_LIMIT                        0
PAYMENTS                            0
MINIMUM_PAYMENTS                    0
PRC_FULL_PAYMENT                    0
TENURE                              0
dtype: int64

In [24]:
credit_df["MINIMUM_PAYMENTS"]=credit_df["MINIMUM_PAYMENTS"].fillna(credit_df["MINIMUM_PAYMENTS"].mean())
credit_df["CREDIT_LIMIT"]=credit_df["CREDIT_LIMIT"].fillna(credit_df["CREDIT_LIMIT"].mean())  # Se eliminan los registros nulos

In [49]:
promedio = credit_df['PURCHASES'].mean()

In [50]:
promedio

1003.2048335195531

In [26]:
### separar respuesta y explicativas
y = credit_df['PURCHASES']  # Nuestra variable respuesta es PURCHASES
X= credit_df.drop(['PURCHASES', 'CUST_ID'], axis = 1) ##Eliminamos la variable respuesta y la variable ID para quedar solo con nuestras variables explicativas

In [27]:
### escalado de las variables
X_sc=StandardScaler().fit_transform(X)

In [28]:
## separar entrenamiento evaluación
X_tr, X_te, y_tr, y_te= train_test_split(X_sc, y, test_size=0.2)

X_tr.shape

(7160, 16)

In [29]:
##### definier arquitectura de la red neuronal

ann1= keras.models.Sequential([
    keras.layers.Dense(64, input_shape=(16,),activation='relu'),
    keras.layers.Dense(32, activation='tanh'),
    keras.layers.Dense(1, activation='relu')  ##Elegimos la funcion de actvación relu para la capa de salida debido a que es una regresión
])

In [ ]:
ann1.get_weights() ### para observar parametros iniciales, tanto W como B

In [34]:
### definir función de perdida y metrica desempeño
optimizer = keras.optimizers.Adam(learning_rate=0.01)

### y la métrica
m= keras.metrics.RootMeanSquaredError(name="RMSE")

loss=keras.losses.MeanSquaredError()
ann1.compile(optimizer= optimizer, loss= loss, metrics= m) #Se escogió esta métrica ya que es una de las mas eficientes y ademas es apta para una variable de regresión

ann1.fit(X_tr, y_tr, epochs=10, validation_data=(X_te, y_te))

Epoch 1/10
224/224 [==============================] - 2s 4ms/step - loss: 3644575.5000 - RMSE: 1909.0771 - val_loss: 4474340.0000 - val_RMSE: 2115.2637
Epoch 2/10
224/224 [==============================] - 1s 3ms/step - loss: 3595520.0000 - RMSE: 1896.1857 - val_loss: 4422748.0000 - val_RMSE: 2103.0330
Epoch 3/10
224/224 [==============================] - 1s 3ms/step - loss: 3546841.0000 - RMSE: 1883.3059 - val_loss: 4369537.5000 - val_RMSE: 2090.3438
Epoch 4/10
224/224 [==============================] - 1s 3ms/step - loss: 3499464.5000 - RMSE: 1870.6855 - val_loss: 4320943.5000 - val_RMSE: 2078.6880
Epoch 5/10
224/224 [==============================] - 1s 3ms/step - loss: 3454449.7500 - RMSE: 1858.6150 - val_loss: 4270200.5000 - val_RMSE: 2066.4463
Epoch 6/10
224/224 [==============================] - 1s 3ms/step - loss: 3409901.5000 - RMSE: 1846.5919 - val_loss: 4224987.5000 - val_RMSE: 2055.4775
Epoch 7/10
224/224 [==============================] - 1s 3ms/step - loss: 3367571.2500 - RMSE: 1835.0944 - val_loss: 4179147.0000 - val_RMSE: 2044.2963
Epoch 8/10
224/224 [==============================] - 1s 3ms/step - loss: 3327124.2500 - RMSE: 1824.0406 - val_loss: 4138935.2500 - val_RMSE: 2034.4374
Epoch 9/10
224/224 [==============================] - 1s 3ms/step - loss: 3288275.5000 - RMSE: 1813.3602 - val_loss: 4091213.0000 - val_RMSE: 2022.6747
Epoch 10/10
224/224 [==============================] - 1s 2ms/step - loss: 3251470.0000 - RMSE: 1803.1833 - val_loss: 4049617.0000 - val_RMSE: 2012.3660

In [35]:
#### diangostico: Overfitting, Tanto la función de perdida como el RMSE está dando valores menores en el modelo de entrenamiento comparado con el de validación
##Nuestro modelo tiene un desempeño demasiado malo segun la metrica RMSE porque si la comparamos con la media de la variable respuesta el RMSE es casi el doble,
## Esto quiere decir que ademas de problemas de Overfitting, tambien tenemos problemas de underfitting

### entrenar una red con regularización para intentar solucionar el Overfitting

###definir hiperparametros de regularización

dr= 0.1 ### porcentaje de neuronas a eliminar
rs= 0.01 ## fuerza de penalización de L2
l2=keras.regularizers.l2(rs) ### instanciar l2

In [36]:
ann2= keras.models.Sequential([
    keras.layers.Dense(64, input_shape=(16,),activation='relu', kernel_regularizer=l2),
    keras.layers.Dropout(rate=dr),
    keras.layers.Dense(32, activation='tanh', kernel_regularizer=l2),
    keras.layers.Dropout(rate=dr),
    keras.layers.Dense(1, activation='relu')
])

In [39]:
opt= keras.optimizers.Adam(learning_rate=0.01)
ann2.compile(optimizer=opt, loss=loss, metrics=m)
ann2.fit(X_tr, y_tr, epochs=10, validation_data=(X_te, y_te))

Epoch 1/10
224/224 [==============================] - 6s 5ms/step - loss: 5304853.0000 - RMSE: 2248.0669 - val_loss: 6178316.5000 - val_RMSE: 2485.6216
Epoch 2/10
224/224 [==============================] - 1s 4ms/step - loss: 5180273.0000 - RMSE: 2276.0208 - val_loss: 6057423.5000 - val_RMSE: 2461.1829
Epoch 3/10
224/224 [==============================] - 1s 3ms/step - loss: 5069366.5000 - RMSE: 2251.5247 - val_loss: 5941711.5000 - val_RMSE: 2437.5620
Epoch 4/10
224/224 [==============================] - 1s 3ms/step - loss: 4958204.5000 - RMSE: 2226.7014 - val_loss: 5830528.5000 - val_RMSE: 2414.6475
Epoch 5/10
224/224 [==============================] - 1s 3ms/step - loss: 4853761.0000 - RMSE: 2203.1235 - val_loss: 5727093.0000 - val_RMSE: 2393.1331
Epoch 6/10
224/224 [==============================] - 1s 3ms/step - loss: 4757666.0000 - RMSE: 2181.2053 - val_loss: 5627976.5000 - val_RMSE: 2372.3340
Epoch 7/10
224/224 [==============================] - 1s 3ms/step - loss: 4666194.0000 - RMSE: 2160.1357 - val_loss: 5536634.0000 - val_RMSE: 2353.0029
Epoch 8/10
224/224 [==============================] - 1s 3ms/step - loss: 4580308.0000 - RMSE: 2140.1638 - val_loss: 5449683.5000 - val_RMSE: 2334.4531
Epoch 9/10
224/224 [==============================] - 1s 3ms/step - loss: 4499150.0000 - RMSE: 2121.1167 - val_loss: 5365481.5000 - val_RMSE: 2316.3484
Epoch 10/10
224/224 [==============================] - 1s 3ms/step - loss: 4422349.0000 - RMSE: 2102.9355 - val_loss: 5287986.5000 - val_RMSE: 2299.5591

In [ ]:
##Emtrenando la red neuronal con la regularizacion logramos solucionar un poco el problema de Overfitting pero seguimos presentando problemas de underfitting